doctype html
html(lang=attributes.lang)
  head
    title=attributes.title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='css/style.min.css')
    link(rel="stylesheet" href="css/prism.min.css")
    script(src="js/clipboard.min.js")
    script(src="js/prism.js")
    script(src="js/raphael.min.js")
    script(src="js/flowchart.min.js")
    script(src="js/app.js")
  body
    if !attributes.disableNavigation
      .navbar
        if !attributes.disableBrand
          a.navbar__brand(href=attributes.brandURL)
            if attributes.brandName
              span.brand #{attributes.brandName}
            if attributes.brandSecondary
              span.brand-second #{attributes.brandSecondary}
        .navbar__controls
          button.burger(aria-expanded="false" aria-label="navigation menu")
            span.burger__line.burger__line-1(aria-hidden="true" focusable="false")
            span.burger__line.burger__line-2(aria-hidden="true" focusable="false")
            span.burger__line.burger__line-3(aria-hidden="true" focusable="false")
      nav.navigation-drawer(aria-label="Main menu")
        if !attributes.disableToc
          h3.nav-title.text-center #{t.toc}
          .toc !{toc}
        if !attributes.disableNav
          .sitenav !{sitenav}

    main.page
      .mtime #{t.mtime} #{attributes.mtime}
      .content !{content}
      .footer
        if !attributes.disableBrand
          a(href=attributes.brandURL class="brand-link")
            if attributes.brandName
              span.brand #{attributes.brandName}
            if attributes.brandSecondary
              span.brand-second #{attributes.brandSecondary}